.cadastro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .buttons-container {
    display: flex;                /* Define o layout flex */
    justify-content: space-between; /* Espaça os botões igualmente */
    width: 100%;                   /* Faz os botões ocuparem toda a largura do formulário */
    gap: 10px;                     /* Espaço entre os botões */
  }
  
  .back-to-login {
    background-color: #555;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .back-to-login:hover {
    background-color: #777;
  }
  