/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinha itens verticalmente */
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.navbar-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-link {
  color: white;
  text-decoration: none;
}

.navbar-item button {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

.navbar-item button:hover {
  text-decoration: underline;
}

/* Estilo da foto do usuário */
.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
}

/* Placeholder caso não haja foto */
.user-photo-placeholder {
  font-size: 20px;
  margin-left: 20px;
}

/* Espaço adicional entre a foto do usuário e o botão de logout */
.user-container {
  display: flex;
  align-items: center;
  gap: 15px; /* Define um espaço entre a foto e o botão */
}
